node_modules
.git
.gitignore
**/node_modules
.next
**/.next
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
*.md
dist
packages/redis
packages/worker
apps
mock-data
.vscode
.turbo
.idea
.github